body{
margin: 0;
padding: 0;
}

#contenedor{
width: 100%;
height: 100%;
background-color: white;
}
#encabezado{
width:100%;
height: 150px;
background-image: url(../img/soccer_banner.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
#encabezado h1{
margin:0px;
line-height: 150px;
color: black;
font-size: 40pt;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.menu-main{
    display:flex;
    justify-content: space-between;
    background-color: #25282A;
    height:40px;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style:none;
    
    }
    .menu-main a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    background-color: #25282A;
    margin-left: 25px;
    margin-right: 25px;
    
    }
    .menu-main a:hover{
        color: white;
    background-color: #5c5e55;
    border: 2px solid #25282A
    display: block;
    }

.menu-main a.active{
background-color:rgb(247, 73, 73);
border: 1px solid #25282A;
border-radius: 5%;
}

.titulo1{
color:rgb(247, 73, 73);
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 30px;
border: 1px solid black;
}
.titulo2{
color:rgb(247, 73, 73);
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 23px;
}
.titulo3 {
color: rgb(138, 5, 143);    
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 30px;
border: 1px solid black;
}
.titulo4 {
    color: #0077C8;    
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
Verdana, sans-serif;
font-size: 43px;
border: 1px solid black;
}
.titulo5 {
    color: #FF6A39;    
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
Verdana, sans-serif;
font-size: 43px;
border: 1px solid black;
}
.titulo6{
    color:#254150;
    font-weight: bold;
    font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
    font-size: 30px;
}

.justificada{
text-align: justify;
}

.parrafo1{
font-family: 'Trebuchet MS','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}
.parrafo2{
font-family:'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 18px;
display:table;
}
.cita{
    font-family:'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
    font-size: 18px;
    display: table;
}

#cuerpo{
width: 90%;
height: 100%;
background-color:white;
padding-left:5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
display: table;
}
#pie{
width:100%;
height: 100px;
background-color:#25282A;
text-align: center;
padding-top:8px;
color:white;
float: none;
margin-top: 5px;
}

.caja-texto{
width:250px;
border-radius: 5px;
height: 25px;
padding-left: 5px;
}
.caja-texto1{
    width:250px;
border-radius: 5px;
height: 25px;
padding-left: 5px;
margin-left: 48px;
}

.label-texto{
padding-top:15px;
color:rgb(247, 73, 73);
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 23px;
}
.label-texto1{
    padding-top:0px;
color:rgb(247, 73, 73);
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 23px;
padding-left:228px;
}
.label-texto2{
    padding-top:0px;
color:rgb(247, 73, 73);
font-weight: bold;
font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
Verdana, sans-serif;
font-size: 23px;
padding-left:160px;
}

.text-area{
width:565px;
border-radius: 5px;
height: 25px;
padding-left: 5px;
height: 150px;
}

.boton{
border-radius: 5px;
background-color: darkslategrey;
color: white;
height: 50px;
width: 170px;
}
.boton:hover{
border-radius: 5px;
background-color:#254150;
color:#92DAEC;
height: 50px;
width: 170px;
}

#izquierda{
width:50%;
float: left;
display: table;
}
#derecha{
width: 50%;
height: 300px;
float: left;
display: table;
}

.centrada{
text-align: center;
}

.imagen {
    width: 60%;
    height: 5%;
    float: none;
    display: block;
    margin: auto;
    border: 3px solid black;
    border-radius: 15%;
    line-height: 150px;
}
.imagen1{
    width: 70%;
    height: 30%;
    float: none;
    margin-top: 0px;
    margin-bottom: 1px;
    border: 3px solid black; 
}
.imagen1:hover{
    border-radius: 6%;
}
.imagen:hover{
    border-radius: 0%;
}
.imagen-redonda1{
width: 180px;
height: 280px;
float: left;
margin-right:15px;
line-height: 150px;
margin-top: 20px;
margin-left: 15px;
margin-bottom: 15px;
}
.imagen-redonda{
width: 200px;
height: 300px;
float: left;
margin-right:15px;
line-height: 150px;
margin-top: 21px;
margin-left: 15px;
border: 3px solid black;
border-radius: 15%;
}
.imagen-redonda:hover{
border-radius: 0%;
}

.imagen-redonda2{
width: 130px;
height: 130px;
float: left;
margin-right:10px;
line-height: 150px;
margin-top: 15px;
margin-left: 15px;
}
.imagen-redonda3{
    width: 290px;
height: 460px;
float: right;
margin-right:15px;
line-height: 150px;
margin-top: 21px;
margin-left: 15px;
border: 3px solid black;
border-radius: 20%;
}
.imagen-redonda3:hover{
    border-radius: 0%;
}

#btn-menu{
display:none;
}

.imagen-redonda4 {
    width: 440px;
    height: 350px;
    float: right;
    margin-right:15px;
    line-height: 150px;
    margin-top: 21px;
    margin-left: 15px;
}
.imagen-redonda5 {
    width: 440px;
    height: 350px;
    float: right;
    margin-right:15px;
    line-height: 150px;
    margin-top: 21px;
    margin-left: 15px;
    border: 3px solid black;
    border-radius: 20%;
}
.imagen-redonda5:hover{
    border-radius: 0%;
}

@font-face {
    font-family: "social";
    src: url("../fonts/Social_Shapes.ttf");
  }

.social{
    font-family: 'social','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.social1{
    font-family: 'social','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

#encabezado label{
display: block;
width: 20px;
height: 100%;
padding: 10px;
border-right: 1px solid #fff;
}
#encabezado label:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.3);
}
    @media (max-width: 980px) {
.menu-main{
height: auto;
border-bottom: 0px;
display: block;

}
.menu-main a{
height: 30px;
border-bottom: 1px solid #90B301;

}
#encabezado {
background-size: cover;}
#encabezado h1{
font-size: 42px;}
.imagen-redonda{
float: none;}
.imagen-redonda4{
    float: none;
}
.imagen{
    width: 70%;
    height: 30%;
    float: none;
}
.imagen1{
    width: 70%;
    height: 30%;
    float: none;
}
.imagen-redonda5{
float: none;
width: 65%;
height: 70%;
}
.imagen-redonda3{
    float: none;
}
.imagen-redonda1{
    float: none;
}
